/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--global-font), sans-serif;
  font-variation-settings: 'wght' 400, 'wght' 785;
  overflow: auto;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

/* Заголовок */
.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: var(--attention-font), fantasy;
  line-height: normal;
  text-transform: uppercase;
  border: 2px solid var(--text-color);
  max-inline-size: 100vw;
  margin-block-start: 100px;
  margin-block-end: 90px;
}

.header__logo  {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-start: 120px;
  padding-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-end: 120px;
}

/* Тело */
.main {}

.main__list-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__list-cards-item {}

.main__list-section {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  position: relative;
}

.main__list-section-title {
  line-height: normal;
  font-variation-settings: 'wght' 700;
  font-size: 18px;
  padding: 4px 10px 6px 10px;
  border-block-end: 2px solid var(--text-color);
}

.main__list-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main__list-section-label {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
  opacity: 0.5;
  font-family: var(--attention-font), sans-serif;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--background-color);
  inset-inline-end: 13px;
  inset-block-start: 24px;
  mix-blend-mode: hard-light;
  color: var(--text-color);
}

.main__list-section-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.main__list-section-text {}
.main__list-section-buttons {}
.heart {}
.contour {}
.main-body {}
.core {}
.sparks {}
.main__list-section-button {}
.main__list-section-button-text {}

/* Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом: */
.like-icon {}
.card__like-button {}
.card__icon-button {}
.is-liked {}
.button__text {}

/* Подвал */
.footer {}
.footer__button {}
.footer__floppy-icon {}
.footer__title {}

/* Диалог */
.dialog {}
.dialog__info {}
.dialog__text {}
.dialog__save {}

/* Глобально */
.global__module {
  margin-inline: auto;
  max-inline-size: 100vw;
  border: 2px solid var(--text-color);
  background: var(--background-color);
  min-width: 350px;
}

/* На большом экране */
@media screen and (width > 375px) {
  /* Заголовок */
  .header__logo {
    padding-block-start: 128px;
  }

  .header__title {
    padding-block-end: 130px;
  }

  /* Глобально */
  .global__module {
    max-inline-size: 696px;
  }

}
